
<div class="container mx-auto m-8">
  <button class="px-4 py-2 bg-sky-500 text-white rounded" (click)="showHideCart()" *ngIf="!showCart">
    <mat-icon aria-hidden="false" aria-label="Warenkorb" fontIcon="shopping_cart"></mat-icon>
    <span class="p-4 align-top">({{cartItemAmount()}})</span>
  </button>
  <button class="px-4 py-2 bg-sky-500 text-white rounded" (click)="showHideCart()" *ngIf="showCart">
    <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon>
  </button>
</div>

<div class="container mx-auto m-8" *ngIf="!showCart">
  <app-products (addToCartEvent)="addItem($event)"></app-products>
</div>

<div class="container mx-auto m-8" *ngIf="showCart">
  <app-shopping-cart [cartItems]="cartItems"></app-shopping-cart>
</div>
